<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AST</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css" rel="stylesheet" type="text/css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/city">Primeros pasos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <a class="navbar-brand" href="/gps">Mapa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <a class="navbar-brand" href="/upload">Entrada</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/uploadO">Salida</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesion</a>
                </li>           
            </ul>
        </div>
        </nav>

<div class="container">
    <%if (signinMessage.length > 0) {%>
        <div class="alert alert-danger"><%= signinMessage %></div>
    <% } %>
    <%if (signupMessage.length > 0) {%>
        <div class="alert alert-danger"><%= signupMessage %></div>
    <% } %>
</div>
<section id="boxes">
        <div class="container">
            <h1 class="page-title">Primeros pasos : </h1>
          <div class="box">
          
            <a href="/gps"> <img src="../public/images/1.jpg" width="200" height="200" ></a>
            
            <h3>Mapa</h3>
            <p> Aqui podremos encontrar un mapa interactivo que nos ayudará a seleccionar los datos de entrada geográficos necesarios para correr el modelo. </p>
            <p> En el cual se puede observar información util sobre como esta estructurado nuestro proceso logistico de produccion y distribución. </p>
        
          </div>
         
          <div class="box">
            <a href="/upload"> <img src="../public/images/eco.jpg" width="200" height="200" ></a>
          
             <h3>Entrada </h3>
   

  
            <p> En esta seccion encontraremos la manera de ingresar nuestras variables para que sean ejecutadas por el modelo. </p>
            <p> Existen dos manera de realizar la entrada de los datos: </p>
            <p> 1) Descargando y completando una plantilla suministrada </p>
            <p> 2) Rellenando las distintas tablas y formularios suministrados.</p>
          </div>
          <div>
            
  
            <a href="/uploadO   "> <img src="../public/images/cemento.jpg  " width="300" height="200" ></a>
          </div>
            <div class="box">
              
            <h3>Salida
            </h3>
         
     
            <p>En la seccion de salida podremos encontrar la salida arrojada por el modelo ordenada de una manera legible. </p>
            <p>Ademas de una seccion de graficos en la cual podremos comparar el estado inicial y el estado optimo resultado de la salida del modelo. </p>
          </div>
        
        </div>
         <div class="container">
            <h1 class="page-title">Servicios: </h1>
         <div>
        <p>
     <img src="../public/images/orc.PNG" width="300" height="300"align ="left" > 
        
    </br> 
</br> 
</br>          
</br> 


     ORC es la abreviacion de Optimizacion de Recursos Cementeros. Este software busca ser el puente de comunicación para que un usuario pueda hacer uso de el modelo de optimizacion desarollado por el grupo de produccion y logistica de la universidad EAFIT.
        </p> 
        </div>
        </div>
        