<% include main %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A S T | Welcome</title>
    <link rel="stylesheet" href="../public/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
   
    
    <section id="showcase">
      <div class="container">
      </br>
    </br>

          <img src="../public/images/orc.PNG" width="250" height="250">
        <h1>Optimización de recursos Cementeros (ORC)</h1>
        <p>Esta es una implementación de un modelo de optimización para la cadena de suministros y distribución en el campo cementero. Cabe resaltar que este modelo se diferencia del modelo JDA, el cual es el estándar en las empresas cementeras de Colombia, ya que ORC contempla variables financieras y ambientales para obtener como resultado un manejo más responsable de estos recursos frente al medio ambiente. </p>
      </div>
    </section>
      
      <div class="container">
          <article id="main-col">
              <h1> </h1>
              <p> </p>
              <h1> </h1>
            <h1 class="page-title">Servicios: </h1>
            <ul id="services">
              <li>
                <h3>Entrada de los datos</h3>
                <p> Para hacer uso de este software le brindamos al usuario dos maneras de ingresar los datos:</p>
                <p> 1) Por medio de una plantilla en Excel que puede ser descargada, al completarla debes subir la plantilla en el apartado de INPUT para que esta sea corrida y pueda brindarte el archivo de salida. </p>
                <p> 2) Llenando todo el formulario de entrada brindado en el apartado de entrada.</p>
              </li>
              <li>
                <h3>Procesamiento del modelo</h3>
                <p>Cuando tenemos los debidos datos de entrada procedemos a usar una versión más pequeña del modelo, que procese los datos de una manera ágil.</p>

              </li>
              <li>
                <h3> Analisis de la salida</h3>
                <p>La salida de los datos será presentada de 3 maneras:</p>
                <p>1) Un Excel de salida para los más experimentados</p>
                <p>2) En los debidos formularios de salida</p>
                <p>3) En graficas comparativas en las cuales podamos observar el antes y el después.</p>
              </li>
            </ul>
          </article>
  
          <aside id="sidebar">
            <div class="dark">
              <h3>Dejanos tus sugerencias</h3>
              <form class="quote">
                <div>
                  <label>Nombre</label><br>
                  <input type="text" placeholder="Nombre">
                </div>
                <div>
                  <label>Email</label><br>
                  <input type="email" placeholder="Correo electrónico">
                </div>
                <div>
                  <label>Sugerencia</label><br>
                  <textarea placeholder="Mensaje"></textarea>
                </div>
                <button class="button_1" type="submit">Enviar</button>
            </form>
            </div>
          </aside>
        </div>
    </section>
    <section id="boxes">
        <div class="container">
            <h1 class="page-title">Sobre Nosotros: </h1>
          <div class="box">
          
            <img src="../public/images/astlogo.PNG" width="200" height="200" >
            
            <h3>AST</h3>
            <p> AST (Asesorías  y soluciones tecnológicas) es el equipo desarrollador encargado de realizar el acercamiento software del modelo, para que el mismo pueda ser revisado y probado por las personas interesadas.  </p>
            <p> Está conformado por estudiantes de séptimo semestre de ingeniería de sistemas de la Universidad EAFIT. </p>
            <p> Alejandro Velasquez Uribe</p>
            <p> Jose Miguel Alzate</p>
            <p> Julian Ricaurte Hoyos</p>
          </div>
         
          <div class="box">
            </br>
          </br>
        </br>
      </br>
    </br> 
            <h3>Grupo de Investigacion de la producción y logística </h3>
   

  
            <p> ​​​​​​El grupo de investigación en Gestión de Producción y Logística busca establecer vínculos con el sector industrial, a través de la solución de problemas en las plantas de producción en el diseño, la operación y el mejoramiento de los sistemas de producción. </p>
          </div>
          <div>
            </br>
          </br>
        </br>
      </br>
  
            <img src="../public/images/logo.png" width="300" height="120" >
          </div>
            <div class="box">
              
            <h3>Universidad EAFIT</h3>
         
     
            <p> Este proyecto cuenta con el apoyo de la Universidad EAFIT. </p>
            <p> La universidad EAFIT es una de las Universidades más importantes e influyentes en Colombia en temas relacionados como el cambio de industria tradicional, para dar paso a una industria sostenible y responsable con el medio ambiente. </p>
          </div>
        
        </div>
    <section id="newsletter">
        <div class="container">
          <h1> Recibe noticias informativas:   </h1>
          <form>
            <input type="email" placeholder="Ingresa tu correo electrónico">
            <button type="submit" class="button_1">Suscribirse</button>
          </form>
        </div>
      </section>

    <footer>
      <p>AST design, Copyright &copy; 2019</p>
    </footer>
  </body>
</html>
