<% include main %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A S T | Welcome</title>
    <link rel="stylesheet" href="../public/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
   

    <section id="showcase">
      <div class="container">
        <h1>Optimización de recursos Cementeros (ORC)</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
      </div>
    </section>

    

    <section id="boxes">
      <div class="container">
          <h1 class="page-title">About Us</h1>
        <div class="box">
        
          <img src="../public/images/astlogo.PNG" />
          
          <h3>AST</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
        </div>
        <div class="box">
          <img src="../public/images/astlogo.PNG">
          <h3>Nora Cadavid </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
        </div>
        <div>
          <img src="../public/images/descarga.png" width="300" height="120" >
        </div>
          <div class="box">
          <h3>Universidad EAFIT</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies</p>
        </div>

       
      </div>
    </section>
    <section id="newsletter">
        <div class="container">
          <h1>Subscribe To Our Newsletter</h1>
          <form>
            <input type="email" placeholder="Enter Email...">
            <button type="submit" class="button_1">Subscribe</button>
          </form>
        </div>
      </section>

    <footer>
      <p>AST design, Copyright &copy; 2019</p>
    </footer>
  </body>
</html>
