<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AST</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/gps">Map</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/city">City</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/upload">Input</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/uploadO">Output</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>           
            </ul>
        </div>
        </nav>

  <div class="container">
      <%if (signinMessage.length > 0) {%>
          <div class="alert alert-danger"><%= signinMessage %></div>
      <% } %>
      <%if (signupMessage.length > 0) {%>
          <div class="alert alert-danger"><%= signupMessage %></div>
      <% } %>
  </div>

  <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Elija el documento que desea analizar</h3>
                </div>
                <div class="card-body">
                        <form action='/uplO' method="POST" enctype="multipart/form-data">
                            <input type="file" name="file">
                        </form>
                        
                </div>
                <form class="form-inline justify-content-center" >
                    <input type="button" class="btn btn-primary mt-4" value="Analizar" onclick="charts()">
                </form>
                </div>
                <div class="container">
                    <canvas id="myChart"></canvas>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
                <h4 id="emisiones" class="row display-7 text-center" style="display: none;">Emisiones</h4>
                <svg width="600" height="600"></svg>
                <csv></csv>
                <rect></rect>
                <script>
                    let myChart = document.getElementById('myChart').getContext('2d');

                    let massPopChart = new Chart(myChart, {
                        type: 'bar',
                        data:{
                            labels:['Proyecto 1', 'Proyecto 2', 'Proyecto 3', 'Proyecto 4'],
                            datasets:[{
                                label:'Emisiones',
                                data:[
                                    50304,
                                    23255,
                                    10034,
                                    6005
                                ]
                            }]
                        },
                        options:{}
                    });

                </script>
            
            </div>
        </div>
    </div>
</html>